[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "hugo-resume"]
	path = hugo-resume
	url = https://github.com/eddiewebb/hugo-resume
